body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

a {
    color: aquamarine;
    font-size: 16px;
    margin: 20px 0;
}

img,
video {
    margin: 20px 0;
}

.main span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

#copyright {
    
    color: gray;
    text-align: right;
}

